

<fieldset>
  <legend>Job Listing</legend>

  <div class="form-group">
    <label for="job-title">Title</label><br>
    <input class="form-control" id="job-title" type="text" name="title" value="{{job.title}}"/>
  </div>

  <div class="form-group">
    <label for="job-title">Company</label><br>
    <input class="form-control" id="job-title" type="text" name="jobTitle" value="{{job.jobTitle}}" />
  </div>

  <div class="form-group">
    <label for="job-description">Description</label><br>
    <textarea class="form-control" id="job-description" name="description" rows="10" />{{job.description}}</textarea>
  </div>
</fieldset>
