<h1>jobs</h1>

<div class="row">
  {{#each jobs}}
    <div class="col-sm-3">
      <h2><a href="/jobs/{{this._id}}">{{this.title}}</a></h2>
      <small>{{this.movieTitle}}</small>
    </div>
  {{/each}}
</div>
